/* GLOBAL */
html {
    font-size: 62.5%;
}

body {
    font: 1.6rem/1.5 Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.forte {
    color: #012443;
}

.active {
    color: #012443;
    font-weight: bold;
}

.hover:hover {
    font-weight: bold;
    color: #F9DFDC;
    cursor: pointer;
}

.button1 {
    color: white;
    font-weight: bold;
    background-color: #FF6B6B;
    height: 38px;
    border: 0;
    padding: 0 20px;
    cursor: pointer;
}

/* Header */
header {
    background-color: #FF6B6B;
    color: white;
    border-bottom: 5px solid #012443;
    padding: 10px 0;
}

#header-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#nav-flex-container {
    display: flex;
    gap: 1rem;
}

nav li {
    font-size: 2rem;
}

/* Showcase */
#showcase {
    min-height: 400px;
    background: url(../img/showcase.jpg) 0 -200px no-repeat;
    color: white;
}

#showcase-flex-container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#showcase h1 {
    font-size: 6rem;
    margin-bottom: 25px;
}

#showcase p {
    font-size: 2rem;
    text-align: center;
}

/* Newsletter */
#newsletter {
    background-color: #FF9999;
    color: white;
}

#newsletter-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form>input[type="email"] {
    border: 0;
    height: 36px;
    width: 216px;
}


/* Boxes */
#boxes {
    margin-top: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.box>img {
    width: 20%;
}

.box>p {
    text-align: center;
}

#boxes-flex {
    display: flex;
    gap: 4rem;
}

/* footer */
footer {
    background-color: #012443;
    color: white;
    margin-top: 20px;   
    padding: 20px;
}

footer>p {
    margin: 0;
    text-align: center;
}

